
/*
 * CSS file injected into email reader iframe, to create some sane default styling for email content.
 *
 * Notice, this CSS file is only injected into iframe created when user is reading an HTML email.
 */

body {
    padding-bottom:0;
}

pre {
    background:none;
    padding-left:0;
}

img {
    max-width:50%;
    border-radius:5px;
    box-shadow:3px 3px 5px rgba(0,0,0,.5);
    float:right;
    margin:0 1rem 1rem 1rem;
}

blockquote {
    font-size: 1rem;
    margin-left: 1rem;
}
.sephia-five-received-email,
.sephia-five-sent-email {
    padding:0 1rem 1rem 1rem;
    position:relative;
}
.sephia-five-received-email blockquote {
    margin-left:0;
}
.sephia-five-received-email blockquote,
.sephia-five-sent-email blockquote {
    padding:1rem;
    border-radius:var(--border-radius);
    box-shadow:2px 2px 3px rgba(0,0,0,.2);
    margin-right:3px;
    position:relative;
}

/*
 * Then every even-odd inwards branch gets different colors to give visual clues about who said what.
 * Notice, first for received emails.
 */
.sephia-five-received-email>blockquote,
.sephia-five-received-email>blockquote>blockquote>blockquote,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote {
    /* You said */
    background-color: #fcfcfc;
}
.sephia-five-received-email>blockquote:after,
.sephia-five-received-email>blockquote>blockquote>blockquote:after,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote:after,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote:after {
    /* You said */
    content:'You said';
    position:absolute;
    bottom:5px;
    right:5px;
    color:#ccc;
    font-size:.8rem;
    font-style:italic;
}


.sephia-five-received-email>blockquote>blockquote,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote {
    /* The other party said */
    background-color: #ffffff;
}
.sephia-five-received-email>blockquote>blockquote:after,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote:after,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote:after,
.sephia-five-received-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote:after {
    /* The other party said */
    content:'The other party said';
    position:absolute;
    bottom:5px;
    right:5px;
    color:#ccc;
    font-size:.8rem;
    font-style:italic;
}


/*
 * Then for sent emails.
 */
.sephia-five-sent-email>blockquote,
.sephia-five-sent-email>blockquote>blockquote>blockquote,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote {
    /* The other party said */
    background-color: #ffffff;
}
.sephia-five-sent-email>blockquote:after,
.sephia-five-sent-email>blockquote>blockquote>blockquote:after,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote:after,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote:after {
    /* The other party said */
    content:'The other party said';
    position:absolute;
    bottom:5px;
    right:5px;
    color:#ccc;
    font-size:.8rem;
    font-style:italic;
}


.sephia-five-sent-email>blockquote>blockquote,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote {
    /* You said */
    background-color: #fcfcfc;
}
.sephia-five-sent-email>blockquote>blockquote:after,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote:after,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote:after,
.sephia-five-sent-email>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote>blockquote:after {
    /* You said */
    content:'You said';
    position:absolute;
    bottom:5px;
    right:5px;
    color:#ccc;
    font-size:.8rem;
    font-style:italic;
}
