
/*
 * Main CSS file for Sephia Five.
 */


/*
 * Overridden to create some cogs while in settings form.
 */
.sephia-settings .micro-tab .micro-tab-views {
    background: url(/micro/media/skins/serious/floating-cogs.svg);
}

/*
 * Making sure table layout of inbox becomes fixed width.
 */
.sephia-inbox {
    width: 100%;
    table-layout: fixed;
}

/*
 * Wrapper for status icons that shows if email was encrypted, signed, etc.
 */
.sephia-status {
    float:right;
    color:#e0e0e0;
}
.sephia-status span {
    margin-left:2px;
}

.sephia-small-text {
    font-size:.8rem;
}

/*
 * An unread email in inbox grid.
 */
.sephia-unread {
    font-weight: bold;
}

/*
 * An encrypted email in inbox grid.
 * Notice, we don't care for these, since we add icons to last column anyways.
 */
.sephia-encrypted {
}

/*
 * A cryptographically signed email in inbox grid.
 * Notice, we don't care for these, since we add icons to last column anyways.
 */
.sephia-signed {
}

/*
 * A sent email in inbox grid.
 */
.sephia-sent {
    font-style:italic;
    color:#e0e0e0;
}


/*
 * Making sure text in cells of inbox table behaves correctly.
 */
.sephia-inbox td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sephia-inbox td:nth-child(1) {
    width:200px;
}
.sephia-inbox td:nth-child(2) {
    max-width:calc(100% - 450px)
}
.sephia-inbox td:nth-child(3) {
    width:250px;
}
.sephia-inbox td:nth-child(1),
.sephia-inbox th:nth-child(1),
.sephia-inbox td:nth-child(3),
.sephia-inbox th:nth-child(3) {
    display: none;
}
.sephia-inbox tbody tr td {
    border-top: none;
    padding:5px;
}


/*
 * Overrides to make sure all cells displays, but only
 * if width of viewport exceeds 800px.
 */
@media screen and (min-width:800px) {
    .sephia-inbox td:nth-child(1),
    .sephia-inbox th:nth-child(1),
    .sephia-inbox td:nth-child(3),
    .sephia-inbox th:nth-child(3) {
        display: table-cell;
    }
}

.sephia-reader-received {
}

.sephia-reader-sent {
    background-color: #fcfcfc;
}

.sephia-iframe-reader {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border:none;
}


/*
 * Attachments in reader.
 */
.sephia-inbox-attachments {
    margin-top:1rem;
}
.sephia-inbox-attachment {
    background:linear-gradient(#ffffff, #ddffdd);
    margin-right:1rem;
}
.sephia-inbox-illegal-attachment {
    background: linear-gradient(#ffffff, #ffdddd);
    opacity:.3;
}

/*
 * Attachments in composer.
 */
.sephia-compose-attachments {
    overflow:auto;
}
.sephia-attachment {
    float: left;
    margin-right: 15px;
}
.sephia-attachment button {
    position:relative;
    background:linear-gradient(#ffffff, #ddffdd);
    text-transform:none;
    margin-bottom:15px !important;
    padding-right:25px;
}
.sephia-attachment button:hover, .sephia-attachment button:active, .sephia-attachment button:focus {
    background:var(--wid-lighter-col);
}
.sephia-attachment button:after {
    position:absolute;
    top:5px;
    right:5px;
    content:"X";
    color:rgba(0,0,0,.2);
}
@keyframes sephia-composer-ajax-wait {
    0% {
        opacity: 0;
    }
    15% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}
.sephia-composer-ajax-wait {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    animation-name: sephia-composer-ajax-wait;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.sephia-composer-ajax-wait h1 {
    display:block;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25%;
    color:#fdfdfd;
}

.sephia-email-reader {
    position:relative;
}

.sephia-unsafe, .sephia-safe {
    position:relative;
}
.sephia-unsafe:after, .sephia-safe:after {
    font-family:'icomoon' !important;
    position:absolute;
    bottom:5px;
    left:9px;
    color:#ddd;
    font-size:1.7rem;
}
.sephia-unsafe:after {
    content:'\f119';
}
.sephia-safe:after {
    content:'\f118';
}
