
/*
 * Main CSS file for Sephia Five.
 *
 * The two (complementary) colors we are using as the basic colors here are; #d1e8f0 and #f0dbd1
 */

/*
 * Main root selector for "everything".
 */
.sephia {
    margin-bottom:50px;
}
.sephia input,
.sephie button,
.sephia textarea {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6em;
    font-size:1em;
}
.sephia textarea {
    height:initial;
}



/*
 * Animation and CSS classes for "sephia toolbar/selector".
 */
@keyframes animate-sephia-menu {
    0% {
        opacity:0;
        margin-top:-100px;
    }
    100% {
        opacity:1;
        margin-top:0;
    }
}
.sephia .sephia-selector {
    text-align:right;
}


/*
 * Necessary to get the "camphora components" rendered correctly.
 * To avoid including the entire Camphora CSS, we simply inline the parts we use here.
 */
.camphora-fieldset-help-button {
    position:absolute;
    top:0;
    right:10px;
    display:block;
    font-size:1.6em;
    opacity:.2;
    transform:scale(1);
    transition:opacity, transform ease-in-out .3s;
}
.camphora-fieldset-help-button:hover,
.camphora-fieldset-help-button:focus {
    opacity:1;
    transform:scale(1.5) rotate(19deg);
    transition:opacity, transform ease-in-out .3s;
}
.camphora-fieldset-help-info {
    color:rgba(0,0,0,.5);
}
.camphora-search {
}
.camphora-search .camphora-textbox {
}
.camphora-search .camphora-buttons {
    text-align:left;
}
.camphora-search .camphora-buttons button svg {
    fill:#fff;
}
.camphora-search .camphora-search-btn {
}
.camphora-search .camphora-clear-btn {
}
.camphora-search .camphora-previous-btn {
}
.camphora-search .camphora-next-btn {
}



/*
 * Plugin buttons for camphora toolbar.
 */
.sephia .sephia-new-email-btn {
}
.sephia .sephia-configuration-btn {
}



/*
 * Including only the bare minimum parts from CMS main stuff, that we'll need.
 */
@keyframes animate-info-feedback {
    0% {
        opacity:0;
        margin-top:-100px;
        background:#00f0f0;
    }
    7% {
        opacity:1;
        margin-top:0;
    }
    10% {
        background:#f0f000;
    }
    20% {
        background:#f0f0f0;
    }
    80% {
        opacity:1;
        margin-top:0;
    }
    100% {
        opacity:0;
        margin-top:-500px;
    }
}
.info-window {
    background:#f0f0f0;
    max-width:300px;
    position:fixed;
    top:0px;
    left:0;
    color:#9d9b97;
    padding:5px 25px 0 25px;
    border-radius:0 0 15px 0;
    z-index:1020;
    animation-name:animate-info-feedback;
    animation-duration:3s;
    animation-fill-mode:forwards;
}
.info-window-longer {
    animation-duration: 6s;
}
.info-window-error {
    color:#e55;
}
.info-window-warning {
    color:#ea5;
}
.prepend-top {
    margin-top:15px;
}
.prepend-bottom {
    margin-bottom:15px;
}



/*
 * Inbox "datagrid".
 */
.sephia table.sephia-inbox tr td {
    cursor:pointer;
    color:#555;
}
.sephia table.sephia-inbox tr.sephia-unread {
    font-weight:bold;
}
.sephia table.sephia-inbox tr.sephia-sent td {
    color:#ccc;
}
.sephia table.sephia-inbox tr.sephia-open td {
    font-style:italic;
}
.sephia table.sephia-inbox tr:hover td {
    background-color:#fff5eb;
}
.sephia .sephia-icon {
    width:20px;
    height:20px;
    float:right;
    fill:rgba(0,0,0,.15);
}



/*
 * A single email being read.
 */
.sephia .sephia-email {
    margin-bottom:25px;
    border-radius:5px;
    box-shadow:rgba(0,0,0,.3) 2px 2px 5px;
}
.sephia .sephia-reader-pre {
    white-space:pre-wrap;
    color:rgba(0,0,0,.7);
}
.sephia .sephia-reader-recipients {
    color:rgba(0,0,0,.3);
    font-style:italic;
    font-size:0.8em;
    margin-top:25px;
}
.sephia .sephia-attachment {
    background-color:#ebffff;
    color:#ccc;
    float:left;
    width:auto;
    text-align:left;
    min-width:250px;
    min-height:57px;
    margin-right:15px;
    padding:5px 15px 5px 15px;
    border-radius:5px;
    border:solid 1px rgba(0,0,0,.2);
    margin-top:15px;
    font-size:.9em;
    transition:color .5s;
}
.sephia .sephia-attachment:hover {
    color:#555;
    transition:color .5s;
}
.sephia .sephia-sandboxed-attachment {
    background-color:rgba(255,0,0,.1);
}
.sephia .sephia-sandboxed-html {
    padding:25px;
    background-color:rgba(255,0,0,.2);
    border-radius:5px;
}
.sephia .sephia-delete-attachment {
    float:right;
    padding-top:2px;
    margin-right:-5px;
    transition:color .5s, transform ease-in .5s;
}
.sephia .sephia-delete-attachment:hover {
    transition:color .5s, transform ease-in .5s;
    color:Red;
    transform:rotate(45deg);
}
.sephia .sephia-reader-meta {
    color:rgba(0,0,0,.3);
    font-style:italic;
    font-size:.8em;
}



/*
 * Create email styles (new, reply and forward)
 */
.sephia .sephia-email-compose {
    margin-bottom:25px;
    border-radius:5px;
    box-shadow:rgba(0,0,0,.3) 2px 2px 5px;
    padding-top:15px;
    padding-bottom:57px;
    background-color:#EBFFFF;
}
.sephia .sephia-email-compose input,
.sephia .sephia-email-compose textarea,
.sephia .sephia-email-compose button {
    z-index:2;
    position:relative;
}



/*
 * Uploader styles, for drag and drop of attachments.
 */
.sephia .sephia-uploader {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}



/*
 * Add recipients to email styles.
 */
.sephia .sephia-recipient-table {
    margin-top:15px;
}
.sephia .sephia-add-recipient-row {
    cursor:pointer;
}
.sephia .sephia-recipient-table tr.sephia-add-recipient-row:nth-child(1) td {
    border-top:none;
}
